body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  height: 5vw;
  width: auto;
  position: relative;
  left: 1vw;
}

#logo {
  border: none;
  background-color: transparent;
}

.logo_login {
  width: 40%;
  position: absolute;
  top: 0;
  left: 30%;
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-aggiungiCane {
  background-color: white;
  color: #4caf50;
  border: none;
  padding: 10px 20px;
  border-radius: 500px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 12vw;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.current-user-picture-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.current-user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px;
}

.signup-section {
  position: absolute;
  top: 0;
  right: 0;
}

.login-section {
  position: absolute;
  top: 0;
  right: 0;
}

.container {
  width: 90vw; /* Occupare tutta la larghezza della viewport */
  height: 70vh; /* Occupare tutta l'altezza della viewport */
  display: flex;
  gap: 10px;
  justify-content: center; /* Centrare il contenuto orizzontalmente */
  align-items: center; /* Centrare il contenuto verticalmente */
  padding: 0 10px; /* Aggiungere un padding laterale */
}

.card {
  flex-grow: 1;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
  transition: flex-grow 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  --transition-timing: 0.35s;
}

.card:hover {
  flex-grow: 7;
}

.card > .background {
  position: absolute;
  inset: 0;
  object-fit: cover; /* Assicurati che l'immagine copra tutto il contenitore */
  object-position: center;
  filter: brightness(0.4);
  z-index: -1;
  transition: var(--transition-timing) ease;
}

.card:hover > .background {
  filter: brightness(1);
}

.card > .card-content {
  display: flex;
  align-items: center;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
  overflow: hidden;
  transition: var(--transition-timing);
  z-index: 10;
}

.card-content > .title {
  white-space: pre;
  margin-left: 10px;
  translate: 0 100%;
  opacity: 0;
}

.card:hover .title {
  opacity: 1;
  translate: 0 0;
}

.card > .backdrop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  z-index: 0;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  display: none;
}

section.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form textarea,
form button {
  margin-top: 5px;
  padding: 10px;
}

#dogs-list div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
