/* styles/styleLogin.css */

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-section {
  background-color: #e6fff2; /* Verde chiaro */
  border: 1px solid #b2d8c6; /* Bordo verde più scuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  width: 300px;
  text-align: center;
}

h2 {
  color: #388e3c; /* Verde scuro */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #388e3c; /* Verde scuro */
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b2d8c6; /* Bordo verde più scuro */
  border-radius: 5px;
  background-color: #ffffff;
}

button {
  background-color: #66bb6a; /* Verde medio */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #388e3c; /* Verde scuro */
}

.logo_login {
  width: 30%;
  position: absolute;
  top: 0;
  left: 35%;
}
