/* styles/styleLogin.css */

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Verde chiaro */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Corretto da 10000% a 100vh */
}

.forms-container {
  background-color: #e6fff2; /* Verde chiaro */
  border: 1px solid #b2d8c6; /* Bordo verde più scuro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  width: 300px;
  text-align: center;
  margin-top: 200px; /* Aggiunto margine superiore per spostare il form più in basso */
}

h2 {
  color: #388e3c; /* Verde scuro */
  margin-bottom: 20px;
  margin-top: 0%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #388e3c; /* Verde scuro */
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b2d8c6; /* Bordo verde più scuro */
  border-radius: 5px;
  background-color: #ffffff;
}

button {
  background-color: #66bb6a; /* Verde medio */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #388e3c; /* Verde scuro */
}

.logo_login {
  width: 30%;
  position: absolute;
  top: 10px; /* Posiziona il logo un po' più in basso */
  left: 35%;
  height: 22%;
}
