body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

#container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #4caf50;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logodiv {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 200px;
}

.titolodiv {
  text-align: center;
  margin-bottom: 20px;
}

.titolo {
  font-size: 24px;
  color: #4caf50;
}

#requests-sent-list {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.div-request {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.div-request:hover {
  background-color: #e0e0e0;
}

.request-info {
  display: flex;
  align-items: center;
}

.dog-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.dog-details {
  display: flex;
  flex-direction: column;
}

.dog-details p {
  margin: 0;
}
