body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo_login {
  width: 40%;
  position: absolute;
  top: 0;
  left: 30%;
}

.signup-section {
  position: absolute;
  top: 0;
  right: 0;
}

.login-section {
  position: absolute;
  top: 0;
  right: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  display: none;
}

section.active {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form textarea,
form button {
  margin-top: 5px;
  padding: 10px;
}

#dogs-list div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
